# Save this file as .env
MRBS_DB_PASSWORD=secretpassword
MRBS_DB_HOST=mrbs-db
MRBS_DB_USER=mrbs
MRBS_DB_NAME=mrbs
MRBS_ADMIN_NAMES=[ 'user1', 'user2' ]
MRBS_TIMEZONE=Europe/Rome
MRBS_COMPANY=Dipartimento di Matematica
MRBS_DEFAULT_VIEW=day
MRBS_SMTP_HOST=smtp.relay.com
MRBS_ADMIN_EMAIL=help@example.com
MRBS_URL_BASE=https://rooms.example.com/
MRBS_EMAIL_FROM=noreply@example.com
MRBS_ENABLE_REGISTRATION=true
MRBS_DENY_PUBLIC_ACCESS=false
MYSQL_RANDOM_ROOT_PASSWORD=true
MYSQL_USER=mrbs

# These need to match the ones above
MYSQL_PASSWORD=secretpassword
MYSQL_DATABASE=mrbs

# 
# MRBS_UNIPI_VALID_UIDS is a list of users IDs that are enable access to 
# the system even if they do not belong to one of the Departments listed
# in MRBS_UNIPI_VALID_DEPARTMENTS below.
#
MRBS_UNIPI_VALID_UIDS=[ "aXXXXXX", "aYYYYYY" ]

#
# MRBS_READONLY_ROOMS can be used to have some rooms in 'read-only' mode, 
# where only admins can add/edit/delete a booking. 
#
MRBS_READONLY_ROOMS=[]

#
# MRBS_UNIPI_VALID_DEPARTMENTS is a list of departments that are allowed
# access to the system automatically.
#
MRBS_UNIPI_VALID_DEPARTMENTS=[ "Dipartimento di Matematica" ]

# 
# MRBS_UNIPI_ALL_DEPARTMENTS set to true skips all checks on the department 
# of the user, and allow everybody (with valid credentials) to make bookings.
#
MRBS_UNIPI_ALL_DEPARTMENTS=false

# Apis from https://iam-mgt.unipi.it/ and https://api-store.unipi.it/
MRBS_UNIPI_OAUTH_CLIENT_ID=XXXXXXXXXXXXXXXXXXXXXXXXX
MRBS_UNIPI_OAUTH_SECRET=XXXXXXXXXXXXXXXXXXXXXXXXXX
MRBS_UNIPI_OAUTH_URL_AUTHORIZE=https://iam.unipi.it/oauth2/authorize
MRBS_UNIPI_OAUTH_URL_TOKEN=https://iam.unipi.it/oauth2/token
MRBS_UNIPI_OAUTH_URL_USERINFO=https://iam.unipi.it/oauth2/userinfo
